# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/
.trae/
*.swp

# Ignore .github folder and all its contents
.github/

# Ignore .specify folder and all its contents
.specify/
